.ending-section {
  width: 1236px;
  height: 412px;
  background-color: black;
  margin: 0 auto;
}

.company-section {
  list-style: none;
  width: 200px;
  height: 412px;
  display: inline-block;
}

.company {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 53px;
  padding-top: 77px;
}

.about {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 53px;
  padding-top: 31px;
}

.careers {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 53px;
  padding-top: 31px;
}

.press {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 53px;
  padding-top: 31px;
}

.affiliates {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 53px;
  padding-top: 31px;
}

.company-border {
  width: 1px;
  height: 226px;
  border-right: 2px solid #fff;
  position: absolute;
  margin-left: 216px;
  margin-top: -336px;
}

.support-section {
  list-style: none;
  display: inline-block;
}

.support {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 18px;
  margin-left: 71px;
}

.faq {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 71px;
  padding-top: 31px;
}

.shipping-ending {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 71px;
  padding-top: 31px;
}

.returns {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 71px;
  padding-top: 31px;
}

.warranty {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 71px;
  padding-top: 31px;
}

.contact-section {
  list-style: none;
  display: inline-block;
}

.contact-ending {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 83px;
}

.dealer {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 83px;
  padding-top: 31px;
}

.pro {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 83px;
  padding-top: 31px;
}

.track {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 17px;
  margin-left: 83px;
  padding-top: 31px;
}

.stay-section {
  list-style: none;
  display: inline-block;
}

.stay-touch {
  color: #fff;
  font-family: Helvetica;
  font-size: 40px;
  margin-left: 265px;
}

.description {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 15px;
  margin-left: 265px;
  padding-top: 15px;
}

.info {
  width: 10px;
  height: 10px;
}

.white-box {
  background-color: #fff;
  width: 370px;
  height: 47px;
  margin-left: 265px;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.email {
  color: #959292;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: normal;
  padding-left: 15px;
  padding-top: 20px;
}

.grey-arrow {
  width: 25px;
  height: 25px;
  margin-left: 74px;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.twitter-logo {
  width: 40px;
  height: 40px;
  margin-left: 265px;
}

.instagram-logo {
  width: 55px;
  height: 55px;
  margin-left: 7px;
}

.facebook-logo {
  width: 40px;
  height: 40px;
  margin-left: 7px;
}

.pinterest-logo {
  width: 50px;
  height: 50px;
  margin-left: 7px;
}

.youtube-logo {
  width: 80px;
  height: 80px;
}
