.fifth-section {
  width: 1236px;
  height: 742px;
  //background-color: bisque;
  display: flex;
  margin: 0 auto;
}

.orange-text {
  width: 543px;
  height: 662px;
  margin-left: 47px;
  background-color: steelblue;
  background-image: url(../images/orange.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 31px;
}

.my-hydro {
  width: 169px;
  height: 42px;
  margin-top: 368px;
  margin-left: 321px;
}

.one {
  color: #2c4d7e;
  font-family: Helvetica;
  font-size: 44px;
  margin-top: 10px;
  margin-left: 220px;
}

.kind {
  color: #2c4d7e;
  font-family: Helvetica;
  font-size: 44px;
  margin-left: 203px;
}

.create {
  color: #2c4d7e;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  margin-left: 315px;
}

.create-arrow {
  width: 13px;
  height: 16px;
  padding-top: 5px;
}

.blue-hydro {
  width: 543px;
  height: 321px;
  margin-left: 53px;
  //background-color: blueviolet;
  margin-top: 31px;
  background-image: url(../images/blue.jpg);
  background-position: center;
  background-size: cover;
}

.shop-now {
  color: #0975c8;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
  margin-top: 282px;
  margin-left: 230px;
}

.shop-arrow {
  width: 13px;
  height: 14px;
  padding-top: 2px;
}

.color {
  width: 261px;
  height: 315px;
  //background-color: coral;
  position: absolute;
  margin-left: 643px;
  margin-top: 378px;
  background-image: url(../images/color.jpg);
  background-position: center;
  background-size: cover;
}

.meet-spring {
  color: #2f4560;
  font-family: Helvetica;
  font-size: 21px;
  font-weight: bold;
  margin-top: 138px;
  margin-left: 38px;
}

.shop-color {
  color: #2f4560;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14px;
  margin-left: 86px;
  margin-top: 8px;
}

.color-arrow {
  width: 11px;
  height: 14px;
  padding-top: 3px;
}

.winter {
  width: 257px;
  height: 315px;
  //background-color: coral;
  position: absolute;
  margin-left: 929px;
  margin-top: 378px;
  background-image: url(../images/winter.jpg);
  background-position: center;
  background-size: cover;
}

.parks {
  width: 115px;
  height: 151px;
  margin-left: 71px;
  margin-top: 54px;
}

.meet-new {
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  margin-left: 86px;
  margin-top: 11px;
}

.grantees {
  color: #fff;
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
  margin-left: 62px;
}

.learn-more {
  color: #03b3f6;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  margin-left: 83px;
  margin-top: 12px;
}

.arrow-winter {
  width: 11px;
  height: 14px;
  padding-top: 4px;
}
