.first-section {
  width: 1236px;
  height: 383.5px;
  background-image: url(../images/desktop-picture.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.plan-well {
  font-size: 30px;
  font-family: Helvetica;
  color: #fff;
  margin-left: 389px;
  padding-top: 75px;
  margin-bottom: 0;
}

.prep-well {
  font-size: 30px;
  font-family: Helvetica;
  font-style: bold;
  color: #fff;
  margin-left: 389px;
  margin-bottom: 0;
}

.eat-well {
  font-size: 30px;
  font-family: Helvetica;
  color: #fff;
  margin-left: 389px;
  margin-bottom: 0;
}

.first-description {
  color: #fff;
  font-family: Helvetica;
  font-size: 15px;
  font-weight: normal;
  margin-left: 389px;
  margin-top: 12px;
}
.picture-button {
  width: 95px;
  height: 25px;
  background-color: white;
  margin-left: 389px;
}

.shop-food {
  font-family: Helvetica;
  font-size: 8px;
  margin-left: 6px;
  padding-top: 8px;
}
