footer {
  width: 1236px;
  height: 120px;
  background-color: #2b6b97;
  margin: 0 auto;
}

.address {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 18px;
  list-style: none;
  margin-left: 874px;
  padding-top: 39px;
}

.copyright {
  color: #fff;
  font-family: Helvetica;
  font-weight: normal;
  font-size: 14px;
  list-style: none;
  margin-left: 829px;
  padding-top: 9px;
}
