.fourth-section {
  width: 1236px;
  height: 71px;
  //background-color: slateblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.bottles {
  font-family: Helvetica;
  font-size: 16px;
  margin-left: 207px;
  margin-bottom: 51px;
}

.blue-arrow {
  width: 10px;
  height: 10px;
  margin-left: 3px;
  margin-bottom: 51px;
}

.tumblers {
  font-family: Helvetica;
  font-size: 16px;
  margin-bottom: 51px;
  margin-left: 21px;
}

.coffee {
  font-family: Helvetica;
  font-size: 16px;
  margin-bottom: 51px;
  margin-left: 21px;
}

.beer {
  font-family: Helvetica;
  font-size: 16px;
  margin-bottom: 51px;
  margin-left: 49px;
}

.wine {
  font-family: Helvetica;
  font-size: 16px;
  margin-bottom: 51px;
  margin-left: 49px;
}

.food {
  font-family: Helvetica;
  font-size: 16px;
  margin-bottom: 51px;
  margin-left: 49px;
}

.coolers {
  font-family: Helvetica;
  font-size: 16px;
  margin-bottom: 51px;
  margin-left: 34px;
}

.packs {
  font-family: Helvetica;
  font-size: 16px;
  margin-bottom: 51px;
  margin-left: 34px;
}

.accessories {
  font-family: Helvetica;
  font-size: 16px;
  margin-bottom: 51px;
  margin-left: 27px;
}
