.part-two {
  width: 1236px;
  height: 285px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.girl {
  width: 254px;
  height: 254px;
  margin-left: 53px;
  margin-top: 12px;
  margin-bottom: 18px;
}

.little-girls {
  width: 254px;
  height: 254px;
  margin-left: 45px;
  margin-bottom: 8px;
}

.skiier {
  width: 254px;
  height: 254px;
  margin-left: 35px;
  margin-bottom: 8px;
}

.dog {
  width: 254px;
  height: 254px;
  margin-left: 35px;
  margin-bottom: 8px;
}
