.second-section {
  width: 1236px;
  height: 113px;
  //background-color: bisque;
  margin: 0 auto;
}

.second-title {
  font-family: Helvetica;
  font-size: 24px;
  padding-left: 350px;
  padding-top: 65px;
}
