.sixth-section {
  margin: 0 auto;
  width: 1236px;
  height: 133px;
  background-color: #f7f7f7;
}

.colder-section {
  width: 863px;
  height: 133px;
}

.colder {
  font-family: Helvetica;
  font-size: 40px;
  margin-left: 27px;
  padding-top: 25px;
}

.join-us {
  font-family: Helvetica;
  font-size: 21px;
  font-weight: normal;
  margin-left: 27px;
  padding-top: 19px;
}

.hydroflask {
  width: 274px;
  height: 133px;
  //background-color: coral;
  position: absolute;
  margin-left: 962px;
}

.hydroflask-border {
  width: 1px;
  height: 98px;
  border-right: 1px solid #707070;
  position: absolute;
  margin-left: 963px;
  margin-top: 35px;
}

.hydroflask-at {
  color: #0074a2;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  margin-left: 45px;
  margin-top: 42px;
}

.hydroflask-hashtag {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 18px;
  margin-left: 45px;
  margin-top: 10px;
}

.hey-lets-go {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 18px;
  margin-left: 45px;
  margin-top: 10px;
}
