.third-section {
  width: 1236px;
  height: 197px;
  //background-color: cadetblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.bottles-image {
  width: 48px;
  height: 150px;
  margin-left: 210px;
  margin-bottom: 34px;
}

.tumblers-image {
  width: 52px;
  height: 150px;
  margin-left: 40px;
  margin-bottom: 34px;
}

.coffee-image {
  width: 43px;
  height: 150px;
  margin-left: 53px;
  margin-bottom: 34px;
}

.beer-image {
  width: 62px;
  height: 150px;
  margin-left: 52px;
  margin-bottom: 34px;
}

.wine-image {
  width: 43px;
  height: 150px;
  margin-left: 44px;
  margin-bottom: 34px;
}

.food-image {
  width: 96px;
  height: 137px;
  margin-left: 34px;
  margin-bottom: 28px;
}

.coolers-image {
  width: 96px;
  height: 110px;
}

.packs-image {
  width: 73px;
  height: 150px;
  margin-left: 14px;
  margin-bottom: 34px;
}

.accessories-image {
  width: 37px;
  height: 150px;
  margin-left: 57px;
  margin-bottom: 34px;
}

.new {
  color: #0074a2;
  font-size: 16px;
  font-family: Helvetica;
  margin-top: 172px;
  position: absolute;
  margin-left: 903px;
}
